
.navbar{
    margin-top: 20px;
    margin-bottom: 0px;
    
    
    background-color: white;
    
   
    
    
    
}
h1{
    text-align: center;
    margin-left: 300px;
}

.logo{
    
    margin: auto;
    width: 30%;
    
    padding: 10px;
   
   background-color: white;
   

    
    
}


  